@model HRM.QLBHXH.Models.nvbhQuaTrinhBHXH

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>nvbhQuaTrinhBHXH</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.idNVBHXH, "nvbhNhanVienBHXH")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idNVBHXH", String.Empty)
            @Html.ValidationMessageFor(model => model.idNVBHXH)
        </div>

     Thời gian bắt đầu:
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianBatDau)
            @Html.ValidationMessageFor(model => model.ThoiGianBatDau)
        </div>

     Thời gian kết thúc:
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianKetThuc)
            @Html.ValidationMessageFor(model => model.ThoiGianKetThuc)
        </div>

      Mức lương đóng BHXH
        <div class="editor-field">
            @Html.EditorFor(model => model.MucLuongDongBHXH)
            @Html.ValidationMessageFor(model => model.MucLuongDongBHXH)
        </div>

     Mức đóng BHXH
        <div class="editor-field">
            @Html.EditorFor(model => model.MucDongBHXH)
            @Html.ValidationMessageFor(model => model.MucDongBHXH)
        </div>

       Mức đóng BHTN
        <div class="editor-field">
            @Html.EditorFor(model => model.MucDongBHTN)
            @Html.ValidationMessageFor(model => model.MucDongBHTN)
        </div>

      HSL
        <div class="editor-field">
            @Html.EditorFor(model => model.HeSoTienLuongDongBHXH)
            @Html.ValidationMessageFor(model => model.HeSoTienLuongDongBHXH)
        </div>

       Mức lương tối thiểu
        <div class="editor-field">
            @Html.EditorFor(model => model.MucDongToiThieu)
            @Html.ValidationMessageFor(model => model.MucDongToiThieu)
        </div>

        Ghi chú 1
        <div class="editor-field">
            @Html.EditorFor(model => model.GhiChu1)
            @Html.ValidationMessageFor(model => model.GhiChu1)
        </div>

    Ghi chú 2
        <div class="editor-field">
            @Html.EditorFor(model => model.GhiChu2)
            @Html.ValidationMessageFor(model => model.GhiChu2)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

