@using System.Data
@using HRM.Webpages.Helpers
@using HRM.Databases.Models
@model int?
@{
    var action = "QTLamViec";
    var NV_id = ViewBag.NV_id as int?;
    var db = ViewBag.db as HRMDBEntities;
    var dt = db.SqlQuery("select * from nvQTLamViec where id=@p0", Model.HasValue ? Model.Value : 0);
    var dr = dt.Rows.Count > 0 ? dt.Rows[0] : null;

    var DonVi = "DonVi_id";
    var ChucDanh = "ChucDanh_id";
    var ChucDanhChucVu = "ChucDanhChucVu_id";
    var NgheNghiep = "NgheNghiep_id";
    var DonVi_id = dr != null ? dr[DonVi] as int? : null;
    var ChucDanh_id = dr != null ? dr[ChucDanh] as int? : null;
    var ChucDanhChuyenMon_id = dr != null ? dr[ChucDanhChucVu] as int? : null;
    var NgheNghiep_id = dr != null ? dr[NgheNghiep] as int? : null;

    var rand = new Random().Next();
}

@using (Html.BeginForm(Model.HasValue ? "UpdateS" : "CreateS", action))
{
    @Html.Hidden("id", Model)
    @Html.Hidden("NV_id", NV_id.HasValue ? NV_id.Value : dr["NV_id"])
<dl id="@rand" class="dl-horizontal">
    <dt>Thời gian</dt>
    <dd>
        @Html.Editor(dr, dt.Columns["ThoiGianBatDau"])
        <span>-</span>
        @Html.Editor(dr, dt.Columns["ThoiGianKetThuc"])
    </dd>
    <dt>Đơn vị công tác</dt>
    <dd>@Html.DropDownList(DonVi, new SelectList(db.dmDonVi, "id", "tenDonVi", DonVi_id), String.Empty)</dd>
    <dt>Loại hình lao động</dt>
    <dd>@Html.DropDownList(ChucDanh, new SelectList(db.dmChucDanh, "id", "tenChucDanh", ChucDanh_id), String.Empty)</dd>
    <dt>Chức danh, chức vụ</dt>
    <dd>@Html.DropDownList(ChucDanhChucVu, new SelectList(db.dmChucDanhChuyenMon, "id", "tenChucDanhChuyenMon", ChucDanhChuyenMon_id), String.Empty)</dd>
    <dt>Nghề nghiệp</dt>
    <dd>@Html.DropDownList(NgheNghiep, new SelectList(db.dmNgheNghiep, "id", "tenNgheNghiep", NgheNghiep_id), String.Empty)</dd>
    <dt>Ghi chú</dt>
    <dd>@Html.Editor(dr, dt.Columns["GhiChu"])</dd>
    <dt></dt>
    <dd>
        <input type="submit" value="Save" />
        <a title="Close" class="close" href="">X</a>
    </dd>
</dl>
}

<script>
    var form = $("#@rand");
    form.find("[type=date]").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    }).prop("type", "text").css("width", "80px");
    form.find("select").combobox();
    $(form.find(".custom-combobox-input,.ui-button-text").css("background", "white"));
</script>
