@using HRM.Webpages.Helpers
@model HRM.Accounts.Models.ResetPasswordModel

@if ("ResetPassword".Equals(ViewContext.RouteData.Values["Action"])
  || "DeleteAccount".Equals(ViewContext.RouteData.Values["Action"])) {
    @Html.StatusMessage(ViewData["Message"])
    @Html.LocationAnchor("tabsEditUserActions")
}

<form action="~/Account/Manage/DeleteAccount" id="deleteAccountForm" method="post">
    @Html.Hidden("gridId")
    @Html.Hidden("UserId")
    <div style="float:right;">
        <mark id="userName">@ViewData["UserName"]</mark>
        <button id="deleteAccount" style="color:#e17009;" disabled>Delete Account</button>
    </div>
</form>
@using (Html.BeginForm("ResetPassword", "Manage", FormMethod.Post, new { id = "resetPasswordForm" })) {
@Html.ValidationMessage("ResetPassword")
@Html.ValidationMessage("DeleteAccount")
@Html.ValidationInfo()
<fieldset>
    <legend>Reset Password Form</legend>
    <ol>
        @Html.Hidden("gridId")
        @Html.HiddenFor(m => m.UserId)
        <li>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>
    </ol>
    <input id="resetPassword" type="submit" value="Reset password" disabled />
</fieldset>
}

<script>
var BtnResetPassword = $("#resetPassword");
var BtnDeleteAccount = $("#deleteAccount");
var FrmResetPassword = $("#resetPasswordForm");
var FrmDeleteAccount = $("#deleteAccountForm");

function resetPassword(gridId, userId, userName) {
    FrmResetPassword.find("#gridId").val(gridId);
    FrmResetPassword.find("#UserId").val(userId);

    FrmDeleteAccount.find("#gridId").val(gridId);
    FrmDeleteAccount.find("#UserId").val(userId);
    FrmDeleteAccount.find("#userName").text(userName);

    if (BtnResetPassword.data("ui-button"))
        BtnResetPassword.button("option", "disabled", !(userId > 0));
    if (BtnDeleteAccount.data("ui-button"))
        BtnDeleteAccount.button("option", "disabled", !(userId > 1));
}
</script>
