@model HRM.QLBHXH.Models.dmLoaiDieuChinh

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa loại điều chỉnh</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>dmLoaiDieuChinh</legend>

        @Html.HiddenFor(model => model.id)
        @*
        <div class="editor-label">
            Loại tăng giảm
        </div>
        <div class="editor-field">
            @Html.DropDownList("idLoaiTangGiam", String.Empty)
            @Html.ValidationMessageFor(model => model.idLoaiTangGiam)
        </div>
        *@
        <div class="editor-label">
            Loại điều chỉnh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoaiDieuChinh)
            @Html.ValidationMessageFor(model => model.LoaiDieuChinh)
        </div>

        <div class="editor-label">
            Ghi chú
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GhiChu)
            @Html.ValidationMessageFor(model => model.GhiChu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STT)
            @Html.ValidationMessageFor(model => model.STT)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

