@model HRM.Databases.Models.dmDonVi

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>dmDonVi</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.maDonVi, "Mã đơn vị")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maDonVi)
            @Html.ValidationMessageFor(model => model.maDonVi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tenDonVi, "Tên đơn vị")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenDonVi)
            @Html.ValidationMessageFor(model => model.tenDonVi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idDonViChuQuan, "Đơn vị chủ quản")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idDonViChuQuan", String.Empty)
            @Html.ValidationMessageFor(model => model.idDonViChuQuan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stt, "Số thứ tự")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stt)
            @Html.ValidationMessageFor(model => model.stt)
        </div>

        <p>
            <input class="dialog" type="submit" value="Lưu" />
        </p>
    </fieldset>
}
