@using HRM.Databases.Models
@model HRM.Databases.Models.dmBangLuong

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>dmBangLuong</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.bacLuong, "Bậc")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bacLuong)
            @Html.ValidationMessageFor(model => model.bacLuong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hesoLuong, "Hệ số lương")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hesoLuong)
            @Html.ValidationMessageFor(model => model.hesoLuong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phuCap, "Phụ cấp thâm niên")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phuCap)
            @Html.ValidationMessageFor(model => model.phuCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.soThang, "Số tháng giữ bậc")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.soThang)
            @Html.ValidationMessageFor(model => model.soThang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idNhomNgach, "Nhóm ngạch")
        </div>
        <div class="editor-field">
            @Html.Hidden("idNhomNgach", (ViewData["dmNhomNgach"] as dmNhomNgachVienChuc).id)
            @ViewBag.dmNhomNgach.tenNhomNgachVienChuc (@ViewBag.dmNhomNgach.maNhomNgachVienChuc)
        </div>

        <p>
            <input class="dialog" type="submit" value="Lưu" />
        </p>
    </fieldset>
}
