@using HRM.Webpages.Helpers
@using HRM.QLVayMuon.Models
@model IEnumerable<HRM.QLVayMuon.Models.HoanVay>
@{
    ViewBag.Title = "Index";
    var db =  new HRMDB1Entities();
    var NV_id = (int)ViewBag.NV_id;    
}
    <h3 align="center"><font>Danh sách hoàn vay của: @db.NhanVienVayMuon.FirstOrDefault(kv => kv.id == NV_id).MaNV
    - @db.NhanVienVayMuon.FirstOrDefault(kv => kv.id == NV_id).HoVaTen
    - @db.NhanVienVayMuon.FirstOrDefault(kv => kv.id == NV_id).DonVi
    </font></h3> 
    @Html.StatusMessage(TempData["Message"])
    @Html.ValidationSummary(TempData["ModelState"])
<p>
    @Html.ActionLink("Thêm hoàn vay", "Create", new { id = NV_id })
</p>
<p>
    @Html.ActionLink("Trở về danh sách nhân viên vay mượn", "Index", "NhanVienVayMuon") 
</p>

<table id = "HoanVay">
<thead>
    <tr>
        <th>@Html.VN("Thuộc khoản vay")</th>
        <th>@Html.VN("Số chứng từ")</th>
        <th>@Html.VN("Ngày chứng từ")</th>
        <th>@Html.VN("Diễn giải")</th>
        <th>@Html.VN("Mục đích sử dụng")</th>
        <th>@Html.VN("Định mức")</th>
        <th>@Html.VN("Số tiền hoàn")</th>
        <th>@Html.VN("Số tiền lãi")</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhoanVay.SoChungTu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoChungTu)
        </td>
        <td>
            @item.NgayChungTu.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienGiai)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.KhoanVay.dmMucDichSuDung.TenMucDich)
        </td>
         <td>
                @if (item.KhoanVay.DinhMuc == true)
                {
                    <span>
                    Định mức
                    </span>
                }
                else
                {
                    <span>
                    Ngoài Định mức
                    </span>
                }
        </td>
        <td>
             @String.Format("{0:#,##0}", item.SoTienHoan)
        </td>
        <td>
            @String.Format("{0:#,##0}", item.SoTienLai)
        </td>
        <td align="right">
            <a class="dialog" href="~/QLVayMuon/HoanVay/Edit?id=@item.id" title="Chỉnh sửa"><span class="ui-icon ui-icon-pencil" style="display:inline-block"/></a>
            <a class="dialog" href="~/QLVayMuon/HoanVay/Delete?id=@item.id" title="Xóa"><span class="ui-icon ui-icon-trash" style="display:inline-block"/></a>          
        </td>
    </tr>
}
</tbody>
</table>



<script>
    
    $(document).ready(function () {
        $("#HoanVay").dataTable({
            "bAutoWidth": true,
            "bStateSave": true,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>

