@model HRM.QLBHXH.Models.dmNoiKCB

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa nơi KCB</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>dmNoiKCB</legend>

        @Html.HiddenFor(model => model.id)
        
  
        <table>
  <tr>
    <td> Mã BV</td>
    <td>
            @Html.EditorFor(model => model.MaBV)
            @Html.ValidationMessageFor(model => model.MaBV)</td>
  </tr>
  <tr>
    <td> Tên bệnh viện</td>
    <td>
            @Html.EditorFor(model => model.TenBV)
            @Html.ValidationMessageFor(model => model.TenBV)</td>
  </tr>
  <tr>
    <td> Ghi chú</td>
    <td>
            @Html.EditorFor(model => model.GhiChu)
            @Html.ValidationMessageFor(model => model.GhiChu)</td>
  </tr>
</table>
     

       
            <input type="submit" value="Lưu" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
