@model IEnumerable<HRM.QLBHXH.Models.dmNoiKCB>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Danh mục nơi đăng ký KCB ban đầu</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table id="NoiKCB">
<thead>
    <tr>
      @*  <th>
            STT
        </th>*@
        <th>
            Mã
        </th>
        <th>
            Tên bệnh viện
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
      @*  <td>
            @Html.DisplayFor(modelItem => item.Stt)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.MaBV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenBV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>

        <td>
        <td align="right" nowrap>        
            <a class="dialog" href="dmNoiKCB/Edit?id=@item.id" title="Chỉnh sửa"><span class="ui-icon ui-icon-pencil" style="display:inline-block"/></a>
            <a class="dialog" href="dmNoiKCB/Delete?id=@item.id" title="Xóa"><span class="ui-icon ui-icon-trash" style="display:inline-block"/></a> 
        </td>
        </td>
    </tr>

}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $("#NoiKCB").dataTable({
            "bJQueryUI": true,
            "bAutoWidth": false,
            "bStateSave": true,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
  </script>