@using HRM.Webpages.Helpers
@model HRM.QLVayMuon.Models.NhanVienVayMuon
@using HRM.QLVayMuon.Models;



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    var db = new HRM.Databases.Models.HRMDBEntities();
 
@Html.BeginDiv()
    <h3><font >Thêm Nhân Viên Vay Mượn</font></h3>
    <fieldset>
        <legend>NhanVienVayMuon</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.MaNV, "Đơn vị")
        </div>
         <div>
             @Html.DropDownListFor(model => model.DonVi_id, new SelectList(db.dmDonVi, "id", "tendonvi"), "-- Chọn Đơn Vị --")
             @Html.ValidationMessageFor(model => model.DonVi_id)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MaNV, "Tên nhân viên")
        </div>
       <div >
            @Html.DropDownListFor(model => model.MaNV, new SelectList(db.nvSoYeuLyLich, "nv_id", "hovaten"), "-- Chọn Tên Nhân Viên --", new { @id = "dsnv"})
            @Html.ValidationMessageFor(model => model.MaNV)
         </div>
          @Html.HiddenFor(model => model.DonVi)
          @Html.HiddenFor(model => model.HoVaTen)
            @Html.HiddenFor(model => model.NV_id)
        <div class="editor-label">
            @Html.LabelFor(model => model.MaNV, "Mã nhân viên")
           
           
         <input id="Manvvay" disabled="disabled"  />
        </div>
        <p>
            <input class="dialog"  type="submit" value="Tạo" />
        </p>
    </fieldset>
    
    
    
    <script src="/Scripts/datatables/DataTableFixedHeader.js"></script>
    <script>
        var dv = $("[id$=DonVi_id]").combobox();
        var ten = $("#dsnv").combobox();
        ten.trigger("connect", "/hrm/QLVayMuon/NhanVienVayMuon/nvds?idDonvi=" + $("[id$=DonVi_id]").val());

       

        dv.change(function () {
            ten.trigger("connect", "/hrm/QLVayMuon/NhanVienVayMuon/nvds?idDonvi=" + $(this).val());
           var donvi= $("#DonVi_id option:selected").text();
           $("[id$=DonVi]").val(donvi);
        });
        ten.change(function () {
            var text = $(this).val();
            var hoten = $("#dsnv option:selected").text();






            $("[id$=Manvvay]").val(text);


            $("[id$=HoVaTen]").val(hoten);
        });
    </script>
}
<div>
    @Html.ActionLink("Trở về danh sách nhân viên vay mượn", "Index")
</div>

@Html.EndDiv()