@model HRM.QLBHXH.Models.nvbhDanhSachDieuChinhTangGiam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>nvbhDanhSachDieuChinhTangGiam</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dmLoaiDieuChinh.LoaiDieuChinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dmLoaiDieuChinh.LoaiDieuChinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nvbhNhanVienBHXH.HoVaTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nvbhNhanVienBHXH.HoVaTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayPhatSinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayPhatSinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChucVuCongViec)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChucVuCongViec)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TienLuongMDC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienLuongMDC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCChucVuMDC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCChucVuMDC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCThamNienVuotKhungMDC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCThamNienVuotKhungMDC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCThamNienNgheMDC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCThamNienNgheMDC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCKhacMDC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCKhacMDC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TienLuongMDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienLuongMDM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCChucVuMDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCChucVuMDM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCThamNienVuotKhungMDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCThamNienVuotKhungMDM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCThamNienNgheMDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCThamNienNgheMDM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PCKhacMDM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCKhacMDM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TuThangNam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TuThangNam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DenThangNam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DenThangNam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TyLeDong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TyLeDong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KhongTraThe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KhongTraThe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GhiChu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GhiChu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XacNhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XacNhan)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



