@using System.Data
@using HRM.Webpages.Helpers
@using HRM.Databases.Models
@model int?
@{
    var action = "TTKhenThuongTruoc";
    var NV_id = ViewBag.NV_id as int?;
    var db = ViewBag.db as HRMDBEntities;
    var dt = db.SqlQuery("select * from nvTTKhenThuongTruoc where id=@p0", Model.HasValue ? Model.Value : 0);
    var dr = dt.Rows.Count > 0 ? dt.Rows[0] : null;
    
    var rand = new Random().Next();
}

@using (Html.BeginForm(Model.HasValue ? "UpdateS" : "CreateS", action))
{
    @Html.Hidden("id", Model)
    @Html.Hidden("NV_id", NV_id.HasValue ? NV_id.Value : dr["NV_id"])
<dl id="@rand" class="dl-horizontal">
    <dt>Ngày QĐ</dt>
    <dd>@Html.Editor(dr, dt.Columns["ThangNamKhenThuong"])</dd>
    <dt>Nội dung</dt>
    <dd>@Html.Editor(dr, dt.Columns["NoiDungKhenThuong"])</dd>
    <dt>Nơi cấp QĐ</dt>
    <dd>@Html.Editor(dr, dt.Columns["NoiCapQuyetDinh"])</dd>
    <dt>Ghi chú</dt>
    <dd>@Html.Editor(dr, dt.Columns["GhiChu"])</dd>
    <dt></dt>
    <dd>
        <input type="submit" value="Save" />
        <a title="Close" class="close" href="">X</a>
    </dd>
</dl>
}

<script>
    var form = $("#@rand");
    form.find("[type=date]").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    }).prop("type", "text");
</script>
