@using System.Data
@using HRM.Webpages.Helpers
@using HRM.Databases.Models
@model int?
@{
    var action = "QLHoSoHSL";
    var NV_id = ViewBag.NV_id as int?;
    var db = ViewBag.db as HRMDBEntities;
    var dt = db.SqlQuery("select * from dsQLHoSoHSL where id=@p0", Model.HasValue ? Model.Value : 0);
    var dr = dt.Rows.Count > 0 ? dt.Rows[0] : null;

    var NhomNgach = "NhomNgach_id";
    var NhomNgach_id = dr != null ? dr[NhomNgach] as int? : null;
    var Ngach = "Ngach_id";
    var Ngach_id = dr != null ? dr[Ngach] as int? : null;
    
    var rand = new Random().Next();
}

@using (Html.BeginForm(Model.HasValue ? "UpdateS" : "CreateS", action))
{
    @Html.Hidden("id", Model)
<dl id="@rand" class="dl-horizontal">
@{
    ViewBag.NhomNgach = dt.Columns["NhomNgach_id"].ColumnName;
    ViewBag.Ngach = dt.Columns["Ngach_id"].ColumnName;
    ViewBag.BacLuong = dt.Columns["BacLuong"].ColumnName;
    ViewBag.HeSoLuong = dt.Columns["HeSoLuong"].ColumnName;
    ViewBag.PhuCap = dt.Columns["PhuCap"].ColumnName;
    ViewBag.SoThang = dt.Columns["ThoiGianGiuBac"].ColumnName;
}
    @Html.Partial("BangLuong", dt)
    <dt></dt>
    <dd>
        <table>
            <tr>
                <td>
                    <span>Bản tự nhận xét</span>
                    @Html.Editor(dr, dt.Columns["BanTuNhanXet"])
                </td>
                <td>
                    <span>Biên bản họp đơn vị</span>
                    @Html.Editor(dr, dt.Columns["BienBanHopDonVi"])
                </td>
                <td>
                    <span>Đề xuất của trưởng đơn vị</span>
                    @Html.Editor(dr, dt.Columns["DeXuatTruongDonVi"])
                </td>
            </tr>
        </table>
    </dd>
    <dd>
        <input type="submit" value="Save" />
        <a title="Close" class="close" href="">X</a>
    </dd>
</dl>
}

<script>
    var form = $("#@rand");
    form.find("[type=date]").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    }).prop("type", "text").css("width", "90px");
</script>
