@using System.Data
@using HRM.Webpages.Helpers
@using HRM.Databases.Models
@{
    const string LOC = "loc", DLV = "DLV", DNV = "DNV", ALL = "ALL";
    ViewBag.Title = "Index";
    var db = ViewBag.db as HRMDBEntities;
    var dt = new DataTable();
    var query = "";
    switch (Request.QueryString[LOC])
    {
        case ALL:
            break;
        case DNV:
            query = " where ngayNghiViec is not null";
            break;
        case DLV:
        default:
            query = " where ngayNghiViec is null";
            break;
    }
    const string TAI = "Tai", CSV = "CSV";
    dt = db.SqlQuery(@"with
        NV as (select distinct NV_id from nvChucDanhGiangVien),
	    CD as (select id CD_id from dmChucDanhGiangVien),
	    GV as (select * from NV, CD)
    select nvChucDanhGiangVien.*, nvSoYeuLyLich.HoVaTen,
    NhanVien.id idNV, NhanVien.MaNV, dmDonVi.maDonVi, dmDonVi.tenDonVi,
    dmChucDanhGiangVien.maChucDanhGiangVien, dmChucDanhGiangVien.tenChucDanhGiangVien
    from GV left join nvChucDanhGiangVien
	    on (GV.NV_id = nvChucDanhGiangVien.NV_id
	    and GV.CD_id = nvChucDanhGiangVien.ChucDanh_id)
    left join NhanVien on GV.NV_id = NhanVien.id
    left join nvQTLamViec on NhanVien.qtlvCongTac_id = nvQTLamViec.id
    left join dmDonVi on nvQTLamViec.DonVi_id = dmDonVi.id
    left join nvSoYeuLyLich on nvSoYeuLyLich.NV_id = NhanVien.id
    left join dmChucDanhGiangVien on GV.CD_id = dmChucDanhGiangVien.id" + query + @" 
    order by dmDonVi.stt, NhanVien.id, dmChucDanhGiangVien.stt");
    var rand = new Random().Next();
    
    var dmChucDanhs = db.dmChucDanhGiangVien.OrderBy(cd => cd.stt).ToList();
}

<p class="ui-state-highlight">
    Danh sách giảng viên cơ hữu trường ĐHDL Văn Lang
    <select id="@rand">
        <option value="@DLV" @(Request.QueryString[LOC] == DLV ? "selected" : null))>Đang làm việc</option>
        <option value="@DNV" @(Request.QueryString[LOC] == DNV ? "selected" : null)>Đã nghỉ việc</option>
        <option value="@ALL" @(Request.QueryString[LOC] == ALL ? "selected" : null)>Tất cả</option>
    </select>
    <a href="@Url.Action("Download", "HSNhanSu")?@(LOC)=@(Request.QueryString[LOC]??DLV)&@(TAI)=@(CSV)">Tải file Excel...</a>
</p>

<table style="width:100%;margin-top:-1em">
    <thead>
        <tr align="right">
            <td><b>@Html.Link4C("~/QLTTNhanSu/GiangVien/EditP", "Thêm GV mới")</b></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<table id="dsGiangVien">
<thead class="ui-widget-header">
    <tr>
        <th id="Create"><mark title="Đơn vị">ĐV</mark></th>
        <th><abbr title="Mã nhân viên">Mã</abbr></th>
        <th>Họ và tên</th>
    @foreach (var cd in dmChucDanhs)
    {
        <th><mark title="@cd.tenChucDanhGiangVien">@cd.maChucDanhGiangVien</mark></th>
    }
    </tr>
</thead>
<tbody class="ui-widget-content">
@for (int i=0; i<dt.Rows.Count;)
{
    var row = dt.Rows[i];
    <tr>
        <td>
            <mark title="@row["tenDonVi"]">@row["maDonVi"]</mark>
        </td>
        <td>@row["MaNV"]</td>
        <td>
            @Html.ActionLink(row["HoVaTen"] as string, "Details", "HSNhanSu", new { id = row["idNV"] }, null)
        </td>
    @for (int j=0; j<dmChucDanhs.Count; j++, i++)
    {
        row = dt.Rows[i];
        <td>
        @if (row["NgayBatDau"] is DBNull)
        {
            @Html.Editor4I(String.Format("~/QLTTNhanSu/GiangVien/EditP?NV_id={0}&CD_id={1}", row["idNV"], dmChucDanhs[j].id))
        }
        else
        {
            @Html.Link4U("~/QLTTNhanSu/GiangVien/EditP?id=" + row["id"], ((DateTime)row["NgayBatDau"]).ToShortDateString())
            @Html.Editor4D("~/QLTTNhanSu/GiangVien/DeleteS?id=" + row["id"])
        }
        </td>
    }
    @if (dmChucDanhs.Count == 0) { i++; }
    </tr>
}
</tbody>
</table>

<script>
    $(function () {
        $("#dsGiangVien").dataTable({
            "bAutoWidth": true,
            "bStateSave": true,
        }).find("th,td").attr("nowrap", true);
        $("select#@rand").change(function () {
            location = "@Url.Action("Index", "HSNhanSu")" + "/HSNhanSu?@(LOC)=" + $(this).val();
        });
    });
</script>
