@using HRM.Webpages.Helpers
@using HRM.QLDanhMuc.Models
@using HRM.Databases.Models
@model IEnumerable<HRM.Databases.Models.dmChucDanhChuyenMon>

<p>
    <a class="dialog" href="ChucDanhChuyenMon/Create" title="Thêm">Thêm chức danh chuyên môn</a>
</p>
<table id="listChucDanhChuyenMon">
<thead>
    <tr>
        <th></th>
        <th>Mã</th>
        <th>Tên chức danh chuyên môn</th>
        <th>Loại CD</th>
        <th>QL tập sự</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maChucDanhChuyenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenChucDanhChuyenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => (item.dmChucDanh ?? new dmChucDanh()).tenChucDanh)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.qlTapSu)
            <a class="dopost" href="ChucDanhChuyenMon/Delete?id=@item.id" title="Xóa"><span class="ui-icon ui-icon-trash" style="display:inline-block"/></a>
            <a class="dialog" href="ChucDanhChuyenMon/Edit?id=@item.id" title="Sửa"><span class="ui-icon ui-icon-pencil" style="display:inline-block"/></a>
        </td>
    </tr>
}
</tbody>
</table>
<script>
    @Html.dataTables("listChucDanhChuyenMon")
</script>
