@model IEnumerable<HRM.Databases_HDLaoDong.Models.hdChiTietHDLD>
@using HRM.Databases.Models
@using HRM.Databases_HDLaoDong.Models
@{
    ViewBag.Title = "Index";
    var db0 = new HRM.Databases.Models.HRMDB0Entities();   
}

<b style="margin-left:30%;font-size:large">Danh sách hợp đồng lao động sắp hết hạn</b>
<p><br /></p>
<div id="HDLD1" style="padding: 0; width:1000px;margin-left:-13%;font-size:small">
<p>@Html.ActionLink("Quay lại", "Index", "HDNguoiLaoDong")</p>
<table id ="HDTV">
<thead>
    <tr>
        <th style="text-align:center" nowrap>
            STT
        </th>
        <th style="text-align:center" nowrap>
            Số HĐ
        </th>
        <th style="text-align:center" nowrap>
            Họ và tên
        </th>
        <th style="text-align:center" nowrap>
            Đơn vị
        </th>
        <th style="text-align:center" nowrap>
            Vị trí<br />công tác
        </th>
        <th style="text-align:center" nowrap>
            Loại HĐ
        </th>
        <th style="text-align:center" nowrap>
            Thời hạn
        </th>
        <th style="text-align:center" nowrap>
            Ngày<br />hiệu lực
        </th>
        <th style="text-align:center" nowrap>
            Ngày hết<br />hiệu lực
        </th>
    </tr>
</thead>
<tbody>
@{int count = 0;}
@foreach (var item in Model)
{
    count = count + 1;
    <tr>
    <td style="text-align: center">
    @count
    </td>
    <td style="text-align: center" nowrap>
    @if (item.LoaiHD == "Thử việc")
    {
    @Html.ActionLink(item.SoHD, "Details_HDThuViec", "ThemMoiHD", new { id = item.id }, null)
    }
    else if (item.LoaiHD == "Hợp đồng cơ hữu")
    {
    @Html.ActionLink(item.SoHD, "Details_HDCoHuu", "ThemMoiHD", new { id = item.id }, null)
    }
    else if (item.LoaiHD == "Hợp đồng dài hạn")
    {
    @Html.ActionLink(item.SoHD, "Details_HDDaiHan", "ThemMoiHD", new { id = item.id }, null)
    }
    </td>
    <td style="text-align: center" nowrap>
    @Html.ActionLink(item.HotenNLD, "Index", "QTKyHDTungNguoi", new { NLD_id = item.NLD_id }, null)
    </td>
    @{  string tenDonVi = "";
                if (item.Donvi_id != null)
                {
                    int? Donvi_id = item.Donvi_id;
                    tenDonVi = db0.dmDonVi.Where(dv => dv.id == Donvi_id).First().tenDonVi;
                }
            }
    <td style="text-align: center" data-tip="@tenDonVi">
    @{  string maDonVi = "";
        if (item.Donvi_id != null)
        {
            int? Donvi_id = item.Donvi_id;
            maDonVi = db0.dmDonVi.Where(dv => dv.id == Donvi_id).First().maDonVi;
        }
        @Html.DisplayFor(model => maDonVi)
    }
    </td>
    <td style="text-align: center">
    @{  string tenChucDanh = "";
        if (item.Chucdanh_id != null)
        {
            int? ChucDanh_id = item.Chucdanh_id;
            tenChucDanh = db0.dmChucDanhChuyenMon.Where(dv => dv.id == ChucDanh_id).First().tenChucDanhChuyenMon;
        }
        @Html.Raw(tenChucDanh)
    }
    </td>
    <td style="text-align: center">
    @Html.DisplayFor(model => item.LoaiHD)
    </td>
    <td style="text-align: center">
    @Html.DisplayFor(model => item.dmThoiHanHD.tenThoiHanHD)
    </td>
    <td style="text-align: center">
    @item.NgayHL.ToShortDateString()
    </td>
    <td style="text-align: center">
    @try{
        @item.NgayhetHL.Value.ToShortDateString()
        }catch{
            }
    </td>
    </tr>
}
</tbody>
</table>
</div>
<script>
    $(document).ready(function () {
        $("#HDTV").dataTable({
            "bAutoWidth": false,
            "bStateSave": true,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>
