@using HRM.Webpages.Helpers
@model HRM.Databases.Models.ChungChi

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChungChi</legend>

         @Html.HiddenFor(model => model.NV_id)
    @*    <div class="editor-label">
            <label>@Html.VN("MaNV"): @ViewBag.MaNV</label>
        </div>*@
        @*<div class="editor-field">
            @Html.DropDownList("NV_id", String.Empty)
            @Html.ValidationMessageFor(model => model.NV_id)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiChungChi_id, "dmLoaiChungChi")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiChungChi_id", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiChungChi_id)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Capdo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capdo)
            @Html.ValidationMessageFor(model => model.Capdo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NgayCap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayCap)
            @Html.ValidationMessageFor(model => model.NgayCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiCap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiCap)
            @Html.ValidationMessageFor(model => model.NoiCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HieuLuc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HieuLuc)
            @Html.ValidationMessageFor(model => model.HieuLuc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GhiChu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GhiChu)
            @Html.ValidationMessageFor(model => model.GhiChu)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
