@model HRM.Databases.Models.ChungChi

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ChungChi</legend>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dmLoaichungchi.TenChungChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dmLoaichungchi.TenChungChi)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capdo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capdo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayCap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiCap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiCap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HieuLuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HieuLuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GhiChu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GhiChu)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
