@model HRM.QLBHXH.Models.dmMucLuongToiThieuVung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>dmMucLuongToiThieuVung</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayBatDau)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayBatDau)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayKetThuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayKetThuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MucLuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MucLuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThuocVung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThuocVung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrangThai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrangThai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GhiChu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GhiChu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
